body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
    background: rgb(207, 230, 227);
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    font-size: large;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    color: rgb(0, 174, 255);   
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 45px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid black;
  }
  
  .hour {
    background-color: black;
    font-size: larger;
    font-weight: bold;
    color: rgb(0, 255, 85);
    border-top: 1px dashed #520707;
  } 
  
  .past {
    background-color: #d3d3d38e;
    color: white;
  }
  
  .present {
    background-color: #61c5ff;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: #0606d5e0;
    color: white;
  }
  
  .saveBtn:hover {
    font-size: 20px;
    color: rgb(115, 255, 0);
    transition: all 0.3s ease-in-out;
  }
  

  @media screen and (max-width: 768px), screen and (max-width: 575px) {
    .row {
      height: auto;
      margin-top: 20px;
    }
  
    .hour {
      padding-right: 17%;
    }
  
    .saveBtn {
      border: 0;
      border-radius: 0.25rem;
      height: 50px;
    }
  
    textarea {
      min-height: 85px;
      border: 0;
    }
  }